<p id="notice"><%= notice %></p>

<p>
  <strong>Commenter:</strong>
  <%= @comment.commentable.name %>
</p>

<p>
  <strong>Comment Context:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Creation:</strong>
  <%= @comment.created_at %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
