<div class = 'm-5'>
  <%= form_with(model: client) do |form| %>
    <% if client.errors.any? %>
      <div id="error_explanation">
        <h5><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h5>
        <ul>
          <% client.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class='row'>
      <div class="col-md-8 offset-md-3">
          <div  class='form-group'>
          <p>
           <%= form.label :name %>
          </p>
          <%= form.text_field :name %>
        </div>

        <div class = 'form-group'>
          <p>
            <%= form.label :address %>
          </p>
          <%= form.text_field :address %>
        </div>

        <div class = 'form-group'>
          <p>
            <%= form.label :email %>
          </p>
          <%= form.text_field :email %>
        </div>

        <div class = 'form-group'>
          <p>
            <%= form.label :contact %>
          </p>
          <%= form.text_field :contact %>
        </div>

        <div class='row'>
          <div class='col-md-8 offset-md-3'>
            <button action = 'submit'  class='btn btn-dark'> Create Client </button>
          </div>
        </div>
      <% end %>
      </div>
   </div>
</div>
