<h3 class="bg-secondary text-white text-center py-2">Client</h3>

<table class="table table-striped my-5">
  <tr>
    <th>Client Name</th>
    <td><%= @client.name %></td>
  </tr>

  <tr>
    <th>Address</th>
    <td><%= @client.address %></td>
  </tr>

  <tr>
    <th>Email</th>
    <td><%= @client.email %></td>
  </tr>

  <tr>
    <th>Contact</th>
    <td><%= @client.contact %></td>
  </tr>
</table>

<%= link_to 'Back', clients_path %>
