<%= stylesheet_link_tag "application" %>
<h3 class="bg-secondary text-white text-center py-2">Current Leads</h3>
<table class="table table-striped my-5">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Platform</th>
      <th>Sale Status</th>
      <th>Assignee</th>
      <th>Client</th>
      <th>Creation</th>
      <th>Updation</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_leads.each do |project_lead| %>
      <tr>

        <td><%= project_lead.name %></td>
        <td><%= project_lead.platform %></td>
        <td><%= project_lead.is_sale %></td>
        <td><%= project_lead.user.name %></td>
        <td><%= project_lead.client.name %></td>
        <td><%= project_lead.created_at %></td>
        <td><%= project_lead.updated_at %></td>
        <td><%= link_to 'Show', project_lead %></td>
        <td><%= link_to 'Edit', edit_project_lead_path(project_lead) %></td>
        <td><%= link_to 'Destroy', project_lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Add Comment', new_comment_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class = 'row'>
  <div class = 'col-md-8 offset-md-4'>
    <button  class="btn btn-dark"><%= link_to 'Create New Lead', new_project_lead_path %></button>
    <button  class="btn btn-dark"><%= link_to 'Add Phase to Lead', new_phase_path %></button>
  </div>
<div>
