<%= stylesheet_link_tag "application" %>
<h3 class="bg-secondary text-white text-center py-2">Current Leads</h3>

<table class="table table-striped my-5">
  <thead class="thead-dark">
    <tr>
      <th>Lead Name</th>
      <th>Platform</th>
      <th>Client</th>
      <th>Creation Date</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_leads.each do |project_lead| %>
      <tr>
        <td><%= project_lead.name %></td>
        <td><%= project_lead.platform %></td>
        <td><%= link_to project_lead.client.name, client_path(project_lead.client_id) %></td>
        <td><%= project_lead.created_at.to_date %></td>
        <td><%= link_to 'Show', project_lead %></td>
        <td><%= link_to 'Edit', edit_project_lead_path(project_lead) %></td>
        <td><%= link_to 'Delete', project_lead, method: :delete, data: { confirm: 'Are you sure ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class='row'>
  <div class='col-md-8 offset-md-4'>
    <%if current_user.roles.pluck(:name).include?('Business_Developer') %>
      <button  class="btn btn-dark"><%= link_to 'Create New Lead', new_project_lead_path %></button>
    <% end %>
  </div>
<div>
