<h3 class="bg-secondary text-white text-center py-2">Project Lead Details</h3>

<table class="table table-striped my-5">
  <tr>
    <th>Assignee</th>
    <td><%= @project_lead.user.name %></td>
  </tr>
  <tr>
    <th>Client</th>
    <td><%= @project_lead.client.name %></td>
  </tr>
  <tr>
    <th>Lead Name</th>
    <td><%= @project_lead.name %></td>
  </tr>
    <tr>
    <th>Platform</th>
    <td><%= @project_lead.platform %></td>
  </tr>
  <tr>
    <th>Sale Status</th>
    <td><%= @project_lead.sale_status %></td>
  </tr>
    <tr>
    <th>Creation </th>
    <td><%= @project_lead.created_at.to_date %></td>
  </tr>
</table>

<div class = 'my-2 mx-3'>
<button  class="py-2 my-2"><%= link_to 'Show Phases', project_lead_phases_path(@project_lead) %></button>
<h3 class="py-2 my-2">Comments</h3>
<%= render partial: 'comments/comments', collection: @project_lead.comments, as: :comment %>
<%= render partial: 'comments/lead_form', locals: { commentable: project_lead_path(@project_lead) }%>

</div>
