<div class = 'my-2 mx-3'>
<p id="notice"><%= notice %></p>

<p>
  <strong>Assignee:</strong>
  <%= @project_lead.user.name %>
</p>

<p>
  <strong>Client:</strong>
  <%= @project_lead.client.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project_lead.name %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @project_lead.platform %>
</p>

<p>
  <strong>Sale Status:</strong>
  <%= @project_lead.is_sale %>
</p>

<p>
  <strong>Created Date</strong>
  <td><%= @project_lead.created_at.to_date %></td>
</p>

<%= render partial: 'comments/comments', locals: {commentable: @project_lead}%>
<%= render partial: 'comments/form', locals: {commentable: @project_lead}%>
</div>
