<p>Welcome, <%= @resource.name %>!</p>
<p><b>Congratulation</b> you've assigned new role(s) by Super Admin</p>
<br>
<p>Following are your roles : </p><ul>
<% @resource.roles.each do |r| %>
  <li><%= r.name %></li>
<% end %>
</ul>
<p>Please login via following credentials at the below link:</p>
<p>Email :<b><%= @email %></b></p>
<p>Passowrd :<b><%= @resource.password %></b></p>
<br>
<p><%= link_to 'Login to my Account !', confirmation_url(@resource, confirmation_token: @token) %></p>
