<%= form_with(model: phase) do |form| %>
  <% if phase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phase.errors.count, "error") %> prohibited this phase from being saved:</h2>

      <ul>
        <% phase.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class = 'row'>
    <div class = 'col-md-8 offset-md-3'>
       <div class = 'form-group'>
      <p><%= form.label :name %></p>
      <%= form.text_field :name %>
    </div>

    <div class = 'form-group'>
      <p><%= form.label :due_date %></p>
      <%= form.date_field :due_date %>
    </div>

    <div class = 'form-group '>
      <%= form.label :status %>
      <%= select_tag :status, options_for_select(Phase.statuses), { :prompt => 'Choose Project Status', :selected => @phase.status } %>
    </div>

    <div class = 'form-group'>
      <%= form.label :project_lead_id %>
      <%= form.collection_select(:project_lead_id, ProjectLead.all, :id, :name, { :prompt => 'Choose Lead', :selected => @phase.project_lead_id }, { class: '' })%>
    </div>

    <div class = 'row'>
      <div class = 'col-md-8 offset-md-3'>
        <button action = 'submit'  class='btn btn-dark px-3 py-2'> Create Phase </button>
      </div>
    </div>
   </div>
  </div>

<% end %>
