<%= form_with model: [@phase.project_lead, @phase] do |form| %>
  <% if phase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phase.errors.count, "error") %> prohibited this phase from being saved:</h2>

      <ul>
        <% phase.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='row'>
    <div class='col-md-8 offset-md-3'>
       <div class='form-group'>
        <p><%= form.label :name %></p>
        <%= form.text_field :name, required: true %>
    </div>

     <div class='form-group'>
        <p><%= form.label :user_id %></p>
        <%= form.collection_select(:user_id, User.joins(:roles).where('roles.name =? ', 2), :id, :name, { prompt: 'Assign Manager', :selected => @phase.user_id })%>
    </div>

    <div class='form-group'>
      <p><%= form.label :due_date %></p>
      <%= form.datetime_select :due_date %>
    </div>

    <div class='form-group '>
      <%= form.label :status %>
      <%= form.select(:status, Phase.statuses.keys.map {|status| [status.titleize,status]}) %>
    </div>

    <div class='row'>
      <div class='col-md-8 offset-md-3'>
        <button action = 'submit'  class='btn btn-dark px-3 py-2'> Create Phase </button>
      </div>
    </div>
   </div>
  </div>
<% end %>
