<%= stylesheet_link_tag "application" %>
<h3 class="bg-secondary text-white text-center py-2">Current Phases</h3>

<table class="table table-striped my-5">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Due date</th>
      <th>Status</th>
      <th>Created at</th>
      <th>Project Lead</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phases.each do |phase| %>
      <tr>
        <td><%= phase.name %></td>
        <td><%= phase.due_date %></td>
        <td><%= phase.status %></td>
        <td><%= phase.created_at.to_date %></td>
        <td><%= link_to phase.project_lead.name, project_lead_path(phase.project_lead_id) %></td>
        <td><%= link_to 'Show', project_lead_phase_path(@project_lead, phase) %></td>
        <td><%= link_to 'Edit', edit_project_lead_phase_path(@project_lead, phase) %></td>
        <td><%= link_to 'Mark Complete', project_lead_phase_path(@project_lead, phase), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class = 'row'>
  <div class = 'col-md-8 offset-md-5'>
    <button  class="btn btn-dark mx-5"><%= link_to 'Add New Phase', new_project_lead_phase_path(@project_lead) %></button>
  </div>
<div>

