<div class = 'mx-3 my-2'>
  <p>
    <strong>Phase Name:</strong>
    <%= @phase.name %>
  </p>
  <p>
    <strong>Due date:</strong>
    <%= @phase.due_date %>
  </p>

  <p>
    <strong>Current Status:</strong>
    <%= @phase.status %>
  </p>

  <p>
    <strong>Creation:</strong>
    <td><%= @phase.created_at.to_date %></td>
  </p>

  <%= render partial: 'comments/comments', locals: {commentable: @phase}%>
  <%= render partial: 'comments/form', locals: {commentable: @phase}%>

</div>

