<div class = 'mx-3 my-3'>
  <p>
    <strong>Name:</strong>
    <%= @phase.name %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= @phase.due_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @phase.status %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= @phase.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= @phase.updated_at %>
  </p>

  <%= link_to 'Edit', edit_phase_path(@phase) %> |
  <%= link_to 'Back', phases_path %> |
  <%= link_to 'Add Comment', new_comment_path %>

</div>

