<h3 class="bg-secondary text-white text-center py-2">Phase</h3>
<div class = 'mx-3 my-2'>
  <table class="table table-striped my-5">
  <tr>
    <th>Phase Name</th>
    <td><%= @phase.name %></td>
  </tr>
  <tr>
    <th>Due Date</th>
    <td><%= @phase.due_date %></td>
  </tr>
  <tr>
    <th>Current Status</th>
    <td><%= @phase.status %></td>
  </tr>
   <tr>
    <th>Creation</th>
    <td><%= @phase.created_at.to_date %></td>
  </tr>
</table>

  <h4>Engineers</h4>
  <%= render partial: 'phases/enginner', collection: @phase_engineers, as: :user %>
  <br>
  <%= render partial: 'phases/enginner_form', locals: {project_lead: @phase.project_lead} %>
  <% if @phase.active? %>
  <p class = 'my-2'><%= link_to 'Mark Phase Complete', phase_complete_path(@project_lead, @phase) %></p>
  <%# <p class = 'my-2'><%= link_to 'Mark Phase Complete', complete_project_lead_phase(@project_lead, @phase) %>
  <%# </p> %>
  <% end %>
  <h4>
    <b>Comments<b>
  </h4>
  <%= render partial: 'comments/comments', collection: @phase.comments, as: :comment, locals: {project_lead: @phase.project_lead} %>
  <%= render partial: 'comments/phase_form', locals: {commentable: project_lead_phase_path(@set_project_lead, @phase)}%>
</div>

