<div class = 'mx-3 my-3'>
  <p>
    <strong>Phase Name:</strong>
    <%= @phase.name %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= @phase.due_date %>
  </p>

  <p>
    <strong>Current Status:</strong>
    <%= @phase.status %>
  </p>

  <p>
    <strong>Creation:</strong>
    <%= @phase.created_at %>
  </p>

  <%= link_to 'Edit', edit_phase_path(@phase) %> |
  <%= link_to 'Back', phases_path %> |


  <%= render partial: 'comments/comments', locals: {commentable: @phase}%>
  <%= render partial: 'comments/form', locals: {commentable: @phase}%>


</div>

